extends template
block title
	| 24au user form
block body
	.container(ng-controller='AppCtrl')
		.info.alert.alert-info
			p БД:
			ul
				li name: {{user.name}}
				li status: {{user.status}}
				li email: {{user.email}}
				li id: {{user.id}}
				li pass: {{user.pass}}

		.title.row
			.col-sm-3
				.h1 Здраствуйте, 
			.col-sm-9
				.h1
					.info
						span.name {{user.name}}
						a(href="#changestatus",ng-click="showForm = !showForm").change Сменить статус
						span.status {{user.status}}
						
					
		form(name="form",ng-show="showForm")
			.form-group.row
				label.col-sm-3.form-control-label(for='inputStatus') Новый статус
				.col-sm-4
					input#inputStatus.form-control(type='text', placeholder='Статус',ng-model="form_fields.status")
				.col-sm-5
					small.text-muted
			.form-group.row(ng-class="{'has-danger': isInputInvalid(form.password), 'has-success': isInputValid(form.password)}")
				label.col-sm-3.form-control-label(for='inputPassword') Пароль
				.col-sm-4
					input#inputPassword.form-control(name="password",type='password', placeholder='Password', required="",ng-model="form_fields.password")
				.col-sm-5
					small.text-muted Ваш новый пароль должен содержать не менее 5 символов.

			.form-group.row(ng-class="{'has-danger': isInputInvalid(form.password_confirm), 'has-success': isInputValid(form.password_confirm)}")
				label.col-sm-3.form-control-label(for='inputPassword2') Пароль ещё раз
				.col-sm-4
					input#inputPassword2.form-control(name="password_confirm",type='password', placeholder='Password confirm', required="",ng-model="form_fields.password_confirm")
				.col-sm-5
					small.text-muted Повторите пароль, пожалуйста, это обезопасит вас с нами на случай ошибки.

			.form-group.row
				label.col-sm-3.form-control-label(for='inputEmail') Email
				.col-sm-4
					input#inputEmail.form-control(type='email', placeholder='Email',ng-model="form_fields.email")
				.col-sm-5
					small.text-muted Можно изменить адрес, указанный при регистрации. 
			tr
			.form-group.row
				label.col-sm-3 Я согласен
				.col-sm-9
					.checkbox
						label
							input(type='checkbox',ng-model="form_fields.check")
							|	принимать актуальную информацию на емейл
			.form-group.row
				.col-sm-offset-3.col-sm-9
					button.btn.btn-success(type='submit',ng-click='submit_form();' ,ng-disabled="! form.$valid") Изменить
					small.text-muted    последние изменения 15 мая 2012 в 14:55:17



