doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(ng-app='myApp')
	head
		meta(charset='UTF-8')

		title
			block title
				| empty title
		link(rel='stylesheet', href='dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='dist/css/styles.css')

		script(src='dist/js/angular.min.js')
		script(src='myapp.js')
		script(src='controllers/myapp.js')
	body
		block body


