
body
	font-family: arial
.container
	//max-width: 980px

.title
	margin-top: 10%
	margin-bottom: 10px

.text-muted
	color: #999999

.h1
	line-height: 1
	font-weight: bold
	font-size: 30px
	color: #666666
	max-width: 500px
	position: relative
	.info
		position: relative
	.name
		color: #000
	.status
		content: attr(status)
		display: block
		margin-top: 10px
		font-size: 14px
		font-weight: normal
		color: #404040
		background-color: #eaeaea
		padding: 14px 20px
		width: 100%
		position: relative
		&:after
			display: block
			background: #eaeaea
			content: ''
			position: absolute
			top: 0
			left: 20px
			height: 10px
			width: 10px
			margin-top: -5px
			transform: rotate(45deg)
			z-index: 3
	.change
		font-size: 12px
		font-weight: normal
		color: #0c77bb
		float: right
		margin-top: 16px
		border-bottom: 1px dashed
		text-decoration: none
		&:hover
			border-bottom: none



label
	font-size: 21px
	color: #000 !important




.form-control
	border-radius: 0px